# Generic backup files
/**/*~
/**/*.bak
/**/*.sav
/**/.DS_Store
# Eclipse
/**/.project
/**/.settings
/**/.classpath
# IntelliJ
/**/*.iml
/**/*.iws
/**/*.ipr
/**/.idea/
# NetBeans
/**/nbproject/private/
/**/nbbuild/
/**/dist/
/**/nbdist/
/**/nbactions.xml
/**/nb-configuration.xml
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Output folders and files
/**/target/
/**/build/
/**/bin/
/elki-bundle*.jar
# Build and configuration
/**/.gradle
/**/gradle.properties
# Usage
/MiniGUI-saved-settings.txt
/local/
