name: Code coverage
on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
jobs:
  codecov:
    # run code coverage only on main repository
    if: github.repository == 'elki-project/elki'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Code coverage
      run: ./gradlew --no-daemon clean test :codeCoverageReport -Pjacoco
    - name: Upload coverage to codecov.io
      uses: codecov/codecov-action@v1
